In [38]:
import pandas as pd 
import re
import numpy as np

In [62]:
## Cleaning data
df = pd.read_csv('data/Uncleaned_DS_jobs.csv')

## reseting index
df.set_index('index', inplace=True)
df.reset_index(drop=True, inplace=True)

## Cleaning the Company column
df['Company Name'] = df['Company Name'].str.split('\n').str[0]

## Cleaning the Salary Estimate column
df['Salary Estimate'] = df['Salary Estimate'].str.replace('[$K]', '', regex=True).str.split(' ').str[0]

## Cleaning Job description
df['diploma'] = np.where(df['Job Description'].str.contains("(?i)Bachelor"), 1, 0)

df['python'] = np.where(df['Job Description'].str.contains("(?i)python"), 1, 0)

df['sql'] = np.where(df['Job Description'].str.contains("(?i)sql"), 1, 0)

df['aws'] = np.where(df['Job Description'].str.contains("(?i)aws"), 1, 0)

df['azure'] = np.where(df['Job Description'].str.contains("(?i)azure"), 1, 0)


df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,diploma,python,sql,aws,azure
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",1,0,0,1,1
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,1,0,1,0,0
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,0,1,0,1,0
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",1,1,1,1,0
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,105-167,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,0,1,1,0,0
668,Data Scientist,105-167,Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,0,0,0,0,0
669,Data Scientist,105-167,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1,0,1,1,0,0
670,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,1,1,1,0,0
671,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,0,1,1,0,0

In [54]:
print(df['Job Description'][10])

Join our team dedicated to developing and executing innovative solutions in support of customer mission success.

Job Description:

Novetta is seeking a Data Scientist who wants to develop innovative solutions for customers and internal product teams. We look to rapidly prototype solutions and deploy the most promising of them. We identify and leverage the latest techniques (fast.ai is a team favorite) so that our customers can stay one step ahead. On every project you'll learn something new (and likely teach us something as well). If that sounds appealing to you - we'd love to chat.

Responsibilities include:
Develop solutions spanning multiple subject areas, from NLP to Image and Video.
Maintain awareness of state-of-the-art machine learning and techniques, methods and platforms, including commercial and open source.
Implement, configure and test machine learning and deep learning libraries and platforms (e.g. fast.ai, TensorFlow, Keras, XGBoost, LightGBM).
Test solutions on AWS using services such as SageMaker, EC2, and Snowball Edge.
Write blog posts and presentations that clearly communicate complex machine learning concepts to both technical and non-technical audiences.
Contribute to visually-appealing, web-enabled prototype applications that illustrate relevant machine learning capabilities.
Basic Qualifications:
Experience with Python
Experience with machine learning or statistics
Ability to work both independently and collaboratively.
High levels of curiosity, creativity, and problem-solving capabilities.
Strong written and verbal communication skills.
Comfortable navigating the command line.
Desired Skills:
Research experience in Machine Learning specific to Natural Language Processing, Computer Vision, or deep learning.
Experience with managing data and creating algorithms using AWS.
Experience with R, Java, or other programming languages.
Security Clearance:
Must be eligible to obtain and maintain a TS/SCI with Poly clearance

Novetta, from complexity to clarity.

Novetta delivers highly scalable advanced analytics and secure technology solutions to address challenges of national and global significance. Focused on mission success, Novetta pioneers disruptive technologies in machine learning, data analytics, full-spectrum cyber, cloud engineering, open source analytics, and multi-INT fusion for Defense, Intelligence Community, and Federal Law Enforcement customers. Novetta is headquartered in McLean, VA with over 1,000 employees across the U.S.

Our culture is shaped by a commitment to our core values:

Integrity • We hold ourselves accountable to the highest standards of integrity and ethics.

Customer Success • We strive daily to exceed expectations and achieve customer mission success.

Employee Focus • We invest in our employees' professional development and training, respecting individuality and fostering a culture of diversity and inclusion.

Innovation • We know that discovering new and innovative ways to solve problems is critical to our success and makes us a great company.

Excellence in Execution • We take pride in flawless execution as we build a company that is best in class.


Earn a REFERRAL BONUS for the qualified people you know.
For more details or to submit a referral, visit bit.ly/NovettaReferrals.

Novetta is an equal opportunity/affirmative action employer.
All qualified applicants will receive consideration for employment without regard to sex, gender identity, sexual orientation, race, color, religion, national origin, disability, protected veteran status, age, or any other characteristic protected by law.

In [63]:
df1['job_simp'].unique()

array(['data scientist', 'na', 'analyst', 'data engineer', 'mle',
       'manager', 'director'], dtype=object)